<!-- <div class="container">
  <img [src]="(station$ | async).photo" height="200">
  <h2>Szczegóły stacji {{stationId}}</h2>
  <p>{{station$ | async | json}}</p>
</div> -->

<div class="container">
  <div class="card">
    <img class="card-img-top" [src]="station?.photo" alt="zdjęcie stacji">
    <div class="card-body">
      <h4 class="card-title">Szczegóły stacji</h4>
      <p class="card-text">Adres: {{station?.name}}</p>
      <p class="card-text">Porty: {{station?.availPorts}}/{{station?.totalPorts}}</p>
      <p class="card-text">Odległość: {{station?.distance | number:'1.2-2'}}km</p>
      <a 
        routerLink="/stations" routerLinkActive="active"
        class="btn btn-primary">Powrót</a>
      <a 
        target="_blank"
        [href]="station?.navLink"
        class="btn btn-primary">Nawiguj ANDROID</a>
      <a 
        target="_blank"
        [href]="station?.geoLink"
        class="btn btn-primary">Nawiguj IOS</a>
      <!-- <p>{{station | json}}</p> -->
    </div>
  </div>
</div>