<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="'/stations" routerLinkActive="active">Power Stations</a>
</nav>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map 
  [latitude]="viewportLat" 
  [longitude]="viewportLng"
  [streetViewControl]=false>
  <!-- moja pozycja -->
  <agm-marker 
    [latitude]="myLat" 
    [longitude]="myLng">
  </agm-marker>

  <!-- (markerClick)="clickedMarker(m.label, i)"
    (dragEnd)="markerDragEnd(m, $event)" -->
    <!-- [iconUrl]="'/assets/icons/favicon-32x32.ico'" -->
  <agm-marker 
    *ngFor="let station of (stations$ | async); let i = index"
    [label]="station.availPorts.toString()"
    [latitude]="station.pos.lat"
    [longitude]="station.pos.lng"
    [markerDraggable]="false"
    [zIndex]="i"
    (markerClick)="clickedStation(station)"
  >
  </agm-marker>
</agm-map>
<!-- <button class="btn btn-outline-success" type="button" (click)="clickedStartLocation()">Start Location</button>
<button class="btn btn-outline-success" type="button" (click)="clickedStopLocation()">Stop Location</button>
<p>LOC refresh count: {{locRefreshCount}}</p>
<p>Distance: {{distance}}</p>
<p>Subs: {{geoLocationTimerSubs}}</p> -->

<!-- routerLink="/station/1" routerLinkActive="active" -->

<br>
<router-outlet></router-outlet>
